hydra-core == 1.3.2
kineticstoolkit
opencv-python
numpy
beautifulsoup4
lxml
datetime
rtmlib
onnxruntime

# MotionBERT requirements
tensorboardX
tqdm
easydict
prettytable
chumpy
opencv-python
imageio-ffmpeg
matplotlib==3.1.1
roma
ipdb
pytorch-metric-learning                         # For one-hot action recognition
smplx[all]                                      # For mesh recovery
